<link href="~/Layout/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="~/Layout/css/shop.css" type="text/css" media="screen" property="" />
<link href="~/Layout/css/style7.css" rel="stylesheet" type="text/css" media="all" />
<!-- Owl-carousel-CSS -->
<link rel="stylesheet" type="text/css" href="~/Layout/css/checkout.css">
<link href="~/Layout/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome-icons -->
<link href="~/Layout/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
      rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">

@model List<PurchaseCart_Product>

<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container">
        <div class="inner-sec-shop px-lg-4 px-3">
            <h3 class="tittle-w3layouts my-lg-4 mt-3">Checkout </h3>
            <div class="checkout-right">
                <h4>
                    Your shopping cart contains:
                    <span id="totalcount">@Model.Count Products</span>
                </h4>
                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>SL No.</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Product Name</th>

                            <th>Price</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="rem1">
                                <td class="invert">@item.Product_Id</td>
                                <td class="invert-image">
                                    <a href="single.html">
                                        @foreach (var item2 in item.Product.images)
                                        {
                                            <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item2.img)}")" alt=" " class="img-responsive">
                                        }
                                    </a>
                                </td>
                                <td class="invert">
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus" PurchaseCartProductId="@item.Id">&nbsp;</div>
                                            <div class="entry value">
                                                <span>@item.count</span>
                                            </div>
                                            <div class="entry value-plus active" PurchaseCartProductId="@item.Id">&nbsp;</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="invert">@item.Product.EnglishName</td>

                                <td class="invert">$@item.Product.price</td>
                                <td class="invert">
                                    <div class="rem">
                                        <div PurchaseCartProductId="@item.Id"  class="close1"> </div>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="checkout-left">
                <div class="col-md-4 checkout-left-basket">
                    <ul>
                        <li>
                            Total <i>-</i> <span id="totalprice" style="font-weight:bold">
                                @ViewData["totalprice"]
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
                <div class="clearfix"></div>
            </div>

        </div>

    </div>
</section>

<!--jQuery-->
<script src="~/Layout/js/jquery-2.2.3.min.js"></script>
<!-- newsletter modal -->
<!--search jQuery-->
<script src="~/Layout/js/modernizr-2.6.2.min.js"></script>
<script src="~/Layout/js/classie-search.js"></script>
<script src="~/Layout/js/demo1-search.js"></script>
<!--//search jQuery-->
<!-- cart-js -->
<script src="~/Layout/js/minicart.js"></script>
<script>
    googles.render();

    googles.cart.on('googles_checkout', function (evt) {
        var items, len, i;

        if (this.subtotal() > 0) {
            items = this.items();

            for (i = 0, len = items.length; i < len; i++) { }
        }
    });
</script>
<!-- //cart-js -->
<script>
    $(document).ready(function () {
        $(".button-log a").click(function () {
            $(".overlay-login").fadeToggle(200);
            $(this).toggleClass('btn-open').toggleClass('btn-close');
        });
    });
    $('.overlay-close1').on('click', function () {
        $(".overlay-login").fadeToggle(200);
        $(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
        open = false;
    });
</script>
<!-- carousel -->
<!-- easy-responsive-tabs -->
<script src="~/Layout/js/easy-responsive-tabs.js"></script>
<script>
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
        $('#verticalTab').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true
        });
    });
</script>
<!--quantity-->
<script>
    $('.value-plus').on('click', function () {
        var divUpd = $(this).parent().find('.value');
        var PurchaseCartProductId = $(this).attr('PurchaseCartProductId');
        console.log(PurchaseCartProductId);
        $.post('/PurchaseCart/IncreasePrdtCountInPurchaseCartAsync', { Id: PurchaseCartProductId },
            function (value) {
                if (typeof value != 'boolean') {
                    $(totalprice).html(`$ ${value.totalPrice}`)
                    $(divUpd).html(value.ProductCount);
                }
            })
    });

    $('.value-minus').on('click', function () {
        var divUpd = $(this).parent().find('.value');
        var PurchaseCartProductId = $(this).attr('PurchaseCartProductId');
        $.post('/PurchaseCart/DecreasePrdtCountInPurchaseCartAsync', { Id: PurchaseCartProductId },
            function (value) {
                if (typeof value != 'boolean') {
                    $(totalprice).html(`$ ${value.totalprice}`)
                    $(divUpd).html(value.ProductCount);
                }
            }
        );
    });

</script>
<!--quantity-->
<!--close-->
<script>
    $('.close1').on('click', function (c) {
        var btn = $(this);
        PurchaseCartProductId = $(this).attr('PurchaseCartProductId');
        $.post('/PurchaseCart/RemoveItemFromPurchaseCart', { Id: PurchaseCartProductId }
            , function (value) {
                if (typeof value != 'boolean') {
                    $(btn).parents('.rem1').fadeOut(1200, function (c) {
                        $(this).remove();
                    });
                    $(totalcount).html(`${value.count} Products`)
                    $(totalprice).html(`$ ${value.totalprice}`)
                }
            });
    });
</script>
<!--//close-->
<!-- dropdown nav -->
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //dropdown nav -->
<script src="~/Layout/js/move-top.js"></script>
<script src="~/Layout/js/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 900);
        });
    });
</script>
<script>
    $(document).ready(function () {
        /*
                                var defaults = {
                                      containerID: 'toTop', // fading element id
                                    containerHoverID: 'toTopHover', // fading element hover id
                                    scrollSpeed: 1200,
                                    easingType: 'linear'
                                 };
                                */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<!--// end-smoth-scrolling -->


<script src="~/Layout/js/bootstrap.js"></script>
<!-- js file -->
