@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Shop.Models.ViewModels
@model List<ShowProductViewModel>

@for (int i = 0; i < Model.Count; i+=4)
{
    <div class="row">
        @for (int j = i; j < i + 4; j++)
        {
            @if (j >= Model.Count)
            {
                break;
            }
            <div class="col-md-3 Product-men women_two shop-gd">
                <div class="Product-googles-info googles">
                    <div class="men-pro-i">
                        <div class="men-thumb-i">
                            @*@{
            List<image> ImgLst = i.images.ToList();
        <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(ImgLst.First().img)}")" class="img-fluid">
            }*@
                            @*@foreach (var item in Model[j].Images)
        {
            <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.Img)}")" class="img-fluid" height="500" width="500">
        }*@
                            <img src="@($"data:image/jpeg;base64,{Model[j].ThumbnailImage}")" class="img-fluid" height="500" width="500">

                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-Product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="Product-new-top">New</span>
                        </div>
                        <div class="i-info-Product">
                            <div class="info-Product-price">
                                <div class="grid_meta">
                                    <div class="Product_price">
                                        <h4>
                                            <a href="single.html">@Model[j].EnglishName</a>
                                        </h4>
                                        <div class="grid-price mt-2">
                                            <span class="money ">$ @Model[j].Price</span>
                                        </div>
                                    </div>
                                    <ul class="stars">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="googles single-i hvr-outline-out">
                                    @if (Model[j].SelectedInCart != true)
                                    {
                                        @*<form asp-action="AddItemToPurchaseCartAsync" asp-controller="PurchaseCart" enctype="multipart/form-data">
                                            <input type="hidden" name="Id" value="@Model[j].Id" />
                                            <button type="submit" class="googles-cart pgoogles-cart" >
                                                <i class="fas fa-cart-plus"></i>
                                            </button>
                                        </form>*@
                                        <button type="submit" class="googles-cart pgoogles-cart" ProductId="@Model[j].Id" >
                                            <i class="fas fa-cart-plus"></i>
                                        </button>
                                    }
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
<script>
    $(function () {
        $('.googles-cart').on('click', function () {
            var Id = $(this).attr('ProductId')
            var Button = $(this);
            $.post('/PurchaseCart/AddItemToPurchaseCartAsync', { Id: Id },
                function (value) {
                    if (value) {
                        $(Button).remove();
                    } else {
                        alert('Somthing went wrong!');
                    }
                })
        })
    })
</script>

