@using BehdadNematiFinalWebProject.Models;
@model List<Product>;
@foreach (var item in Model)
{
    @*<td>Product id</td>
    <td>English Name</td>
    <td>Price</td>
    <td>Available Count in Storage</td>
    <td>Catagory</td>
    <td>Brand</td>
    <td>Product Image</td>
    <td>Edit Product</td>
    <td>Delete Product</td>*@

    <tr>
        <td>@item.Id</td>
        <td>@item.EnglishName</td>
        <td>@item.Price</td>
        <td>@item.Count</td>
        <td>@item.ProductType.Name</td>
        <td>@item.Brand.Name</td>
        <td>
            <img src="data:image;base64,@System.Convert.ToBase64String(item.ThumbnailImage)" width="70" height="70" />
        </td>
        <td>
            <a class="btn btn-warning" asp-area="admin" asp-controller="manageProducts" asp-action="editProduct" asp-route-id="@item.Id">Edit</a>
        </td>
        <td>
            <a class="btn btn-danger" onclick="return confirm('Are you sure?')" asp-area="admin" 
                asp-controller="manageProducts" asp-action="deleteProduct" asp-route-id="@item.Id">Delete</a>
            
        </td>
    </tr>
}