@using BehdadNematiFinalWebProject.Models;
@model List<product>;
@foreach (var item in Model)
{
    @*<td>Product id</td>
    <td>English Name</td>
    <td>Price</td>
    <td>Available Count in Storage</td>
    <td>Catagory</td>
    <td>Brand</td>
    <td>Product Image</td>
    <td>Edit Product</td>
    <td>Delete Product</td>*@

    <tr>
        <td>@item.Id</td>
        <td>@item.EnglishName</td>
        <td>@item.price</td>
        <td>@item.count</td>
        <td>@item.productType.name</td>
        <td>@item.brand.name</td>
        <td>
            @*<img src="data:image;base64,@System.Convert.ToBase64String(item.images.First().img)" width="8" height="8" />*@
        </td>
        <td>
            <a class="btn btn-warning" asp-area="admin" asp-controller="manageproducts" asp-action="editproduct" asp-route-id="@item.Id">Edit</a>
        </td>
        <td>
            <a class="btn btn-danger" onclick="return confirm('Are you sure?')" asp-area="admin" 
                asp-controller="manageproducts" asp-action="deleteproduct" asp-route-id="@item.Id">Delete</a>
            
        </td>
    </tr>
}